@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    interpolate-size: allow-keywords;

    --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
    --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
    --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
    --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

    --font-family:
        system-ui, -apple-system, blinkmacsystemfont, 'segoe ui', roboto, oxygen, ubuntu, cantarell, 'open sans', 'helvetica neue', sans-serif;
}

html {
    hanging-punctuation: first last;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

h1 {
    --_font-size: var(--font-size-xxl);
    margin-bottom: 0.5em;
    font-size: var(--_font-size);
    font-weight: 900;
    line-height: calc(var(--_font-size) * 1.1);
    letter-spacing: -2px;
}

h2 {
    --_font-size: var(--font-size-xl);
    place-self: start;
    font-size: var(--_font-size);
    font-weight: 600;
    line-height: calc(var(--_font-size) * 1.1);
    letter-spacing: -2px;
    margin-bottom: 0.5em;
}

h3 {
    --_font-size: var(--font-size-lg);
    font-size: var(--_font-size);
    font-weight: 400;
    line-height: calc(var(--_font-size) * 1.1);
    letter-spacing: -2px;
    margin-bottom: 0.5em;
}

h4 {
    --_font-size: var(--font-size-md);
    font-size: var(--_font-size);
    font-weight: 500;
    line-height: calc(var(--_font-size) * 1.1);
    letter-spacing: -2px;
    margin-bottom: 0.5em;
}

p {
    --_font-size: var(--font-size-base);
    font-size: var(--_font-size);
    line-height: calc(var(--_font-size) * 1.3);
    margin-bottom: 0.5em;
}

small {
    font-size: var(--font-size-sm);
}

a {
    text-decoration: none;
    cursor: pointer;
}

p,
li,
figcaption {
    text-wrap: pretty;
    max-width: 65ch;
}

button,
select,
input,
textarea {
    font-size: inherit;
}

form {
    width: 100%;
    max-width: 50ch;

    input:not(:placeholder-shown):valid,
    textarea:not(:placeholder-shown):valid,
    select:not(:placeholder-shown):valid {
        outline-color: green;
    }
    input:not(:placeholder-shown):invalid,
    textarea:not(:placeholder-shown):invalid,
    select:not(:placeholder-shown):invalid {
        outline-color: red;
    }

    input:focus:invalid,
    textarea:focus:invalid,
    select:focus:invalid {
        outline-color: blue;
    }
}
